<header>
<%= link_to image_tag("logo2.svg", :border => 0, :alt => 'site logo', :class => 'logo'), "/welcome" %>
</header>
<div class="sidebar">
<nav>
	<ul>
		<li><%= link_to("Welcome", "/welcome" ) %></li>
		<li><%= link_to("About Me", "/about" ) %></li>
		<li>- <%= link_to("Pics", "/pics" ) %></li>
		<li><%= link_to("Site Map", "/sitemap" ) %></li>
	</ul>
</nav>
</div>