<!DOCTYPE html>
<html>
<head>
  <title>My Awesome Webpage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/sidebar" %>
<%= yield %>
<footer class="clear">
	&copy; 2014 Michael Heard <%= @first_visit %>
	<% if @user_name != nil %>
		<p>Hello <%= @user_name.capitalize %> </p>
	<% end %>
</footer>
</body>
</html>
